body {
  font-size: 16px;
  color: #000;
}

#header-nav {
  background-color: #194e1e;
  border-radius: 0;
  border: 0;
}

h1 {
  color: #fff;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
  margin-bottom: 20px
}

#nav-list a {
  color: #fff;
  text-align: center;
}

#nav-list a:hover {
  color: #000;
}

.jumbotron {
  background-color: #b1ffb9;
  color: #000;
}

@media (max-width: 768px) {
   h1 {
     margin-left: 40px;
   }
   .jumbotron {
     margin-left: 40px;
     margin-right: 40px;
   }
}
